# Copia este archivo como .env y rellena tus valores reales
DATABASE_URL="your_value_here"
NEXTAUTH_SECRET="your_value_here"
AUTH_SECRET="your_value_here"
NEXTAUTH_URL="your_value_here"
AWS_ACCESS_KEY_ID="your_value_here"
AWS_SECRET_ACCESS_KEY="your_value_here"
AWS_REGION="your_value_here"
AWS_BUCKET_NAME="your_value_here"
AWS_FOLDER_PREFIX="your_value_here"
